.MainLayout *{
  font-family: var(--font-mono);
}

.main {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  /* align-content: center; */
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
